#cubePage body {
    width: 100px;
    height: 100px;
}

#cubePage canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
    

}

#title{
    overflow: hidden;
    position: relative;
    margin-top: 3%;
    width: 100%;
    height: 125px;
} 

#stitle{
    margin-left:500px;
    font-size: 50px;
    float: right;
    width: 500px;
}

#stitle p{
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    text-align: center;
    margin-top: 30px;
}

#logo{
float: left;
margin-top: 0%;
margin-bottom: 0%;
margin-left: 125px;    
}
