*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bling;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(images/loading1.png);
    background-size: 100%;
}
h1{
    position: relative;
    font-size:8em;
    color:black;
    text-transform:uppercase;
    border-bottom:16px solid black ;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}
h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    overflow: hidden;
    border-bottom: 16px solid white;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
}

@font-face{
    font-family:Bling;
    
    src:url('font/text/Ming\ in\ Bling.ttf');
}
