#QRPage{
    background: url(images/background.png);
    background-size: 100%;
    position: relative;
}

#QRPage a{
    width: 100%;
    align-self: baseline;
}

#QRPage #floatingContainer{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#QRPage #goBackButton{
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    background: url(images/HOME.png);
    background-size: 100%;
    width: 21.6vmin;
    height: 12vmin;
    margin-top: 1vh;
    margin-left: 1vw;
    border: none;
}

#box{
    display: flex; 
}

#LeftImage{
    height: 50vmin;
    margin-left: 1vmin;
    flex-shrink: 0.33;
}
#LeftImage img{
    height: 100%;
    object-fit: contain;
}
#QRbox {

    width: 50vmin;
    height: 50vmin;
    border: 4px solid black;
    flex-shrink: 0.0;
}

#RightImage{
    height: 50vmin;
    margin-right: 1vw;
    flex-shrink: 0.33;
}

#RightImage img{
    height: 100%;
    object-fit: contain;
}

video{
    width: 100%;
    height: 100.2%;
    object-fit: cover; 
}

