body{
    background: url(images/loading.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0.33;
    height: -webkit-fill-available;
    color: white;
}
h1{
    text-align: left;
    font-size: 70px;
    margin-left: 2%;
    font-family: Bling;
    margin-top: 0%;
    clear: both;
}

#test{
    margin-top: auto;
    position: fixed;
    margin-bottom: auto;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-self: flex-end;
}

#qld_picture{
    clear: left;
    position: fixed;
    margin-left: 3%;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 50vw;
    max-height: 60vh;
    border-radius: 10px;
    z-index: 1000;
}

#answer{
    padding-top: 10%;
    padding-right: 20%;
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-around;
    right: 0;
    top: 0;
    bottom: 0;
}

  #answer1{
    max-height: 50px;
    position: relative;
    font-family: stemt;
    font-size: 4em;  
    text-align: right;
    background-color:transparent ;
    margin-bottom: 30%;
    border:none;
    margin-left: 10%;
    color: white;
  }

#answer2{
    color: white;
    position: relative;
    max-width: 50px;
    font-family: stemt;
    font-size: 4em;  
    text-align: center;
    background-color:transparent ;
    margin-bottom: 30%;
    border:none;
    margin-left: 20%;
    margin-top: 40%;
}
   
#answer3{
    color: white;
    position: relative;
    margin-top: 30%;
    font-family: stemt;
    font-size: 4em;  
    text-align: center;
    background-color:transparent ;
    border:none;
    margin-left: 30%;
    justify-self: flex-end;;
}

@font-face{
    font-family:stemt;
    src:url('font/text/1938-STeMPEL.ttf');
}
@font-face{
    font-family:Bling ;
    src:url('font/text/Ming\ in\ Bling.ttf')

}
