* {
	box-sizing: border-box;
}

/*DetailsPage*/

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background:url('images/info-bg.png')  no-repeat center center;
	background-size:cover;
	background-attachment:fixed;
}
#detailsPage{
	display:auto;
}
#test{
	display:flex;
}
#info-home{
    display: inline-block;
    height: fit-content;
}
#info-home #BackButton{
	background-image: url(images/info-home.png);
	position: relative;
    left: 0;
	top: 0;
	border: none;
	width: 100px;
	height:100px;
	margin-bottom:90%;
	background: transparent;

}
#record-1 {
	margin-left: 35%;
	width: 60%;
	height: 100%;
}

.record {
	display: block;
	background-color: white;
	box-shadow: rgba(0,0,0,0.25) 0 3px 3px;
	position: relative;
}
.record h2{
	padding-left: 10px;
}

.record h3{
	padding-left:10px;
}

.record p{
	padding-left: 15px;
	padding-right: 5px;
}

.record.record-template {
	padding-left: 10px;
	display: none;
}

.record .record-content {
	padding-left: 10px;
	display: flex;
	align-items: flex-start;
}

.record .record-image {
	max-width: 150px;
	max-height: 150px;
	margin-top: 1em;
}

.record .description {
	padding-left: 1.5em;
}

#map {
	margin-right: 15%;
	width: 45vw;
	height: 60vh;
	/* Uses viewport (vw & vh) units: https://css-tricks.com/fun-viewport-units */
	background-color: white;
	box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
}