#cubePage body,#puzzlePage body, #QRPage {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#goBackButton, #QRPage #goBackButton{
    padding: 1em;
    background: #66fcf180;
    border: none;
}

#QRPage #goBackButton{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#cubePage canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}

/*Puzzle*/
#puzzlePage{
    position: relative;
    height: 100%;
    background-image: url('images/puzzle-bg-4.png');
    background-attachment: fixed;
    background-size: cover;
    background-position:center 0;
    z-index: -10; 
    background-repeat: no-repeat;
}

#puzzlePage #puzzleCanvas{
    position: fixed;
    right: 1vw;
    margin-left: 1vw;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 2px 10px #ddd inset;
}


video{
    width: 100%;
    height: 100%;
}



